.fw-medium {
    font-weight: $font-weight-medium;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.border-end {
    border-right: 1px solid $black-70!important;
}

.fs-1 {
    @include media-breakpoint-down(lg) {
        font-size: .75rem;
    }
}
