@import 'theme/theme';
.index {
    background-color: $pink;
    .hero {
        position: relative;
        padding: 8.125rem 0;
        @include media-breakpoint-down(lg) {
            padding: 0;
        }
        &::before {
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            background-image: url("../img/hero-decor-left.svg");
            background-position: top left;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        &::after {
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            background-image: url("../img/hero-decor-right.svg");
            background-position: top right;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
            @include media-breakpoint-between(md,
            lg) {
                background-image: url("../img/hero-decor-right-middle.svg");
            }
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        .main-bg {
            position: relative;
            height: calc(75vw/1);
            &::before {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                background-image: url("../img/landing-img.png");
                background-position: top center;
                background-repeat: no-repeat;
                z-index: -1;
                background-size: contain;
            }
            @include media-breakpoint-up(md) {
                height: calc(76vw/1);
            }
        }
    }
    .read-more-link {
        font-size: 1.25rem;
        font-weight: 600;
        color: $red;
        @include media-breakpoint-down(lg) {
            font-size: .875rem;
        }
        &:hover {
            color: $red;
        }
        &::before,
        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            width: 1.125rem;
            height: 1.125rem;
            border-radius: 50px;
            @include icon-styles;
            content: icon-char(minus);
            color: $red;
            font-size: 0.6rem;
            margin: 0 .625rem;
        }
        &.collapsed::after,
        &.collapsed::before {
            content: icon-char(plus);
        }
        .show-expanded {
            display: none;
        }
        .show-collapsed {
            display: inline-block;
        }
        &.collapsed {
            .show-expanded {
                display: inline-block;
            }
            .show-collapsed {
                display: none;
            }
        }
    }
    .read-more-list {
        list-style-type: none;
        li {
            position: relative;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 500;
            color: $black;
            text-align: start;
            text-transform: capitalize;
            margin-bottom: 0.875rem;
            span,
            a {
                color: $red;
            }
            @include media-breakpoint-down(lg) {
                font-size: .75rem;
                line-height: .938rem;
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .footer {
        background-color: $pink;
        .list-inline {
            .list-inline-item {
                margin-right: 0;
                .btn-link {
                    font-size: 1.125rem;
                    --bs-link-color: #{$black};
                    --bs-link-hover-color: #{$red};
                    @include media-breakpoint-down(lg) {
                        font-size: .813rem;
                    }
                }
            }
        }
    }
}
